* {
    padding: 0;
    margin: 0;
  }
  
  /* 로그인, 시험등록 버튼 컨테이너 */
  .headerContainer {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  /* 로그인, 시험등록 버튼 */
  .headerContainer button {
    width: 120px;
  }
  
  /* 로그인 버튼영역 */
  .loginBtnArea {
    width: 50%;
    text-align: left;
  }
  
  /* 시험 등록 버튼 영역 */
  .enrollmentBtnArea {
    width: 50%;
    text-align: right;
  }
  
  /* 시험조회 컨테이너 */
  .container {
    max-width: 900px;
    margin: 0 auto;
    border: black 1px solid;
  }
  
  /* 시험 조회 영역 */
  .headerArea {
    text-align: center;
    border-bottom: 1px solid black;
  }
  
  /* 시험 조회 선택창 영역 */
  .serchSelecterArea {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* 시험 조회 선택창, 조회 버튼 영역 */
  .serchSelecter,
  .serchBtnArea {
    padding: 20px;
  }
  
  /* 시험 조회 버튼 */
  .serchBtn {
    width: 70px;
  }
  
  /* 시험 조회 목록 영역 */
  .examContentArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  /* 시험 조회 내용영역 */
  .examContentTextArea {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
  }
  
  /* 시험 조회 목록 다운로드 버튼  */
  .examContentDownloadArea button {
    width: 60px;
  }
  
  .examContentId {
    width: 5%;
  }
  
  .examContentText {
    width: 70%;
  }
  
  .examContent{
    font-weight: 200;
  }
  
  /* 시험 조회 목록 다운로드 버튼 */
  .examContentDownloadArea {
    width: 15%;
    padding: 10px;
    text-align: right;
    align-self: center;
  }
  
  /* 모든 버튼 */
  button {
    cursor: pointer;
  }
  
  /* 페이지 영역 */
  .pageNumber{
    text-align: center;
    align-self: flex-end;
    padding: 10px 0;
  }
  
  /* 페이지 버튼 */
  .pageNumber button{
    width: 25px;
    height: 25px;
  }
  
  /* 시험 등록 데이터가 없을 경우 */
  .noneData{
    text-align: center;
    padding: 30px;
  }