/* 설명 텍스트 */
.descClass {
    color: blue;
}

/* 필수 입력  */
.headClass {
    color: red;
}

/* 전체 영역 */
.newUSerContainer {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
}

/* 모든 버튼 */
button {
    cursor: pointer;
}